:root {
    --dont-lose: rgba(224, 10, 10);
    --main-color: rgb(236, 72, 72);
    --main-background: #fff;
    --main-details: rgba(0,181,149,1);
    --nav-color: #01485c;
    --span-color: #rgba(0,93,133,1);
}

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

* {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'menu conteudo' ;
    background: var(--main-background);
}


article {
    margin-left: 80px;
    grid-area: conteudo;
    
}

section {
    width: 85%;
    text-align: justify;
}

h1 {
    font-size: 1.2rem;
    border-left: 4px solid var(--main-details);
    padding-left: 10px;
}

h2 {
    font-size: 1.1rem;
}

span {
    font: var(--span-color);
    font-weight: bold;
}

pre {
    box-shadow: 7px 6px 26px -11px rgba(79,79,79,1);
    padding: 10px 0px;
    border-left: 10px solid var(--main-details);
    font-size: 0.8rem;
    color: black;
    font-family: 'Fira Code', monospace;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: var(--main-details);
    font-weight: bold;
}


aside {
    grid-area: menu;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,93,133,1) 0%, rgb(2, 114, 93) 90% );
    box-shadow: 11px -1px 12px -11px rgba(79,79,79,1);

    height: 100%;
    padding: 0;
    margin-top: 0;
    position: fixed;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;

}

aside li {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
}

aside li a {
    text-decoration: none;
    color: #fbf3f2;
    padding-left: 30px;
}

#toggleHamburguer {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}


.entrar {
    animation: ease-in;
    animation-duration: 1000ms;
}

.menuWidth {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;

    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,93,133,1) 0%, rgb(2, 114, 93) 90% );
    width: 400px;
    padding-top: 8%;
    transition: width 0.5s ease-out;
}

.menuWidth  li {
    visibility: initial;
}



@media( max-width: 1145px) {

    body {
        width: 100vw;
        grid-template-columns: 100px 1fr;
    }

    aside {
        background-image: none;
        background-color: white;
        box-shadow: none;
        width: 120px;
        transition: width 0.5s ease-out;
    }

    aside li {
        visibility: hidden;
        font-size: 1.2rem;
        padding-top: 5%;
    }
    
    article {
        width: 100vw;
        margin-left: 40px;
    }

    section {
        width: 80vw;
    }

    .codigo {
        width: 90%;
        box-sizing: border-box;
    }

    pre {
        width: 90vw;
        font-size: 10px;
        padding-right: 50px;
        overflow: auto;
    }

    label {
        cursor: pointer;
        display: block;
        position: fixed;
        top: 20px;
        left: 38px;
        width: 30px;
        height: 26px;
        border-top: 5px solid var(--main-details);
        border-bottom: 5px solid var(--main-details);
        z-index: 3;
    }
        
    label::before {
        content: '';
        display: block;
        position: relative;
        top: 6px;
        border-top: 5px solid var(--main-details);
    }

    ul li {
        margin-bottom: 10px;
    }

}